.Comments{
  list-style: none;
  margin: .5rem 0 0;
  padding-left: 0;
  p {
    margin: .5rem 0 1rem;
  }
  &Title {
    margin-top: 1rem;
  }
  &-item {
    & + & {
      padding-top: 1rem;
      border-top: 1px solid #ddd;
    }
  }
}